:root {
	--offlight: #f3f3f6;
	--lightest: #fff;
	--darkest: #000;
	--primelight: #3184ef;
	--primedark: #2949cb;
	--primegradient-off: linear-gradient(to right, #3184ef, #2949cb);
	--primegradient-on: linear-gradient(to right, #2949cb, #3184ef);
	--error-color: #800;
	--link-current: #800;
	--base-radius: .5rem;
}

/*
4/3: 2560, 1440
16/9: 1920, 1080
*/

/* colors: black, white, ... & utility */
.not-quite-white,
.offlight {
	color: var(--offlight);
}
.blue-linear-gradient {
	background-color: var(--primelight);
	background-image: var(--primegradient-off);
	border-radius: 2rem;
}
.blue-linear-gradient:hover,
.blue-linear-gradient:active,
.blue-linear-gradient:focus {
	background-color: var(--primedark);
	background-image: var(--primegradient-on);
	text-decoration: none;
}
.hide-me {
	display: none !important;
}
.c-scrollbar {
	z-index: 1000;
}
	


/* FONTS */
.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
}
.poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}
.poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}
.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}
.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}
.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}
.poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
}
.poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
}
.poppins-thin-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: italic;
}
.poppins-extralight-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: italic;
}
.poppins-light-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
}
.poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
}
.poppins-medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
}
.poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
}
.poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
}
.poppins-extrabold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
}
.poppins-black-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: italic;
}
/* Beautifully Delicious */
@font-face {
	font-family: 'BDSans';
	src: url('../fonts/beautifully_delicious/BDSans-Black.eot');
	src: local('Beautifully Delicious Sans Black'), local('BDSans-Black'),
		url('../fonts/beautifully_delicious/BDSans-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/beautifully_delicious/BDSans-Black.woff2') format('woff2'),
		url('../fonts/beautifully_delicious/BDSans-Black.woff') format('woff'),
		url('../fonts/beautifully_delicious/BDSans-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BDSans';
	src: url('../fonts/beautifully_delicious/BDSans-Thin.eot');
	src: local('Beautifully Delicious Sans Thin'), local('BDSans-Thin'),
		url('BDSans-Thin.eot?#iefix') format('embedded-opentype'),
		url('BDSans-Thin.woff2') format('woff2'),
		url('BDSans-Thin.woff') format('woff'),
		url('BDSans-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BDSans';
	src: url('../fonts/beautifully_delicious/BDSans-Regular.eot');
	src: local('Beautifully Delicious Sans Regular'), local('BDSans-Regular'),
		url('../fonts/beautifully_delicious/BDSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/beautifully_delicious/BDSans-Regular.woff2') format('woff2'),
		url('../fonts/beautifully_delicious/BDSans-Regular.woff') format('woff'),
		url('../fonts/beautifully_delicious/BDSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'BDSans ExtReg';
	src: url('../fonts/beautifully_delicious/BDSans-Bold.eot');
	src: local('Beautifully Delicious Sans Bold'), local('BDSans-Bold'),
		url('../fonts/beautifully_delicious/BDSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/beautifully_delicious/BDSans-Bold.woff2') format('woff2'),
		url('../fonts/beautifully_delicious/BDSans-Bold.woff') format('woff'),
		url('../fonts/beautifully_delicious/BDSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

.gruppo-regular {
	font-family: "Gruppo", sans-serif;
	font-weight: 400;
	font-style: normal;
}


  
  
/* core layout & typography */
body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
	overflow-x: hidden;
}
body > main.page-wrapper {
	padding-top: 6.8rem;
}
body > main > footer {
	border-top: 1px solid var(--darkest);
	background-color: var(--primelight);
	background-image: var(--primegradient-off);
}
	
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a, a.visited {
	color: var(--primedark);
}
a.cta-link, a.cta-link:hover {
	text-decoration: none;
}





/* primary content containers */
header#home_header {}
section#home_hero {}
section#portfolio_tickers {}
section#process {}
section#client_types {}
section#testimonials {}
section#industries_served {}
section#cta_section {}
footer#home_footer {}





/* global header & nav */
body header.global-header {
	z-index: 100;
	position: fixed;
	background: var(--lightest);  
	overflow: visible;
	top: 0;
	left: 0;
	right: 0;
}
header.global-header h1.logo { /* https://www.pngtosvg.com */
	display: inline-block;
	background-image: url(../images/logos/nc_horizontal_black_map.svg);
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -1000px;
	overflow: hidden;
	height: 100%;
	max-width: 200px;
	width: 13rem;
	margin: 1.5rem 2rem;
	vertical-align: middle;
	background-position: center;
}
header.global-header h1.logo a { display: block; height: 100%; width: 100%; }
header.global-header nav { display: inline-block; margin: 0; padding: 0; float: none; vertical-align: middle; }

header.global-header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
header.global-header nav > ul > li { display: inline-block; position: relative; }
a.w-nav-link { padding: 1rem 2rem; }
a.w-nav-link:hover { background: var(--offlight); }
a.w-nav-link.w--current { color: var(--link-current); font-weight: bold; }

header.global-header nav > ul > li.parent > a:after { 
	display: inline-block;
	padding: 0 .5rem;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: "\f0d7";
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
}
header.global-header nav > ul > li.parent:hover > a:after { 
	content: "\f0d8";
}

div.mega-menu,
header.global-header nav > ul > li > ul {
	border: 1px solid var(--offlight);
	background: var(--lightest);
	padding: .5rem 2rem;
}
header nav a {
	text-transform: uppercase;
	white-space: nowrap;
}
ul.sub { padding: 1rem 2rem !important }
div.mega-menu ul.sub { padding: 0 !important }
ul.sub a { 
	padding: .1rem 0;
	display: block;
	/* text-decoration: none; */
}
ul.sub a:hover { color: var(--darkest); }

header.global-header nav > ul > li > ul,
header.global-header nav > ul div.mega-menu { 
	display: none; 
	position: absolute; 
	left: 0; 
	top: 100%; 
}
header.global-header nav > ul li:hover ul,
header.global-header nav > ul li:hover div.mega-menu,
header.global-header nav > ul li:hover > ul { display: block; }

div.mega-menu {
	max-width: 80vw;
	width: 70vw;
	padding: 0;
	border-radius: 0 0 .5rem .5rem;
}
div.panels { display: flex; gap: 1rem; }
div.menu-panel { 
	flex: 1;
	padding: 0 1.5rem;
	}
div.mega-menu footer {
	background: var(--darkest);
	color: var(--lightest);
	margin: .5rem 0 0;
	padding: .5rem 1rem;
	text-align: center;
	border-radius: 0 0 .5rem .5rem;
	}
div.user-options {
	position: absolute;
	top: 1.5rem;
	right: 2rem;
}

	

	
	

/* section: home hero */
main section.hero {
	/* background-image: url(https://cdn.prod.website-files.com/664a1ce3d058509803599aba/6657d4b4d5082bf627bc0837_dude.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position-x: -20vw;
	background-position-y: 2rem; */
	background-color: var(--lightest) !important;
	perspective: 1000px;
}
img.background.hero-image {
	/* position: absolute;
	bottom: 0;
	left: 0;
	max-width: 69%;
	max-height: 100%; */
}
section.hero div.chunklet {
	/* text-align: right !important; */
	position: relative;
    height: 50vh;
    border: 1px solid rgba(0, 0, 0, 0);
	/* transform: rotateY(-6deg); */
	perspective: 1000px; /* for "unskewing" children */
}
section.hero div.chunklet > * { position: absolute; }

section.hero div.chunklet img {
	position: absolute;
    top: -5rem;
    left: -51vh;
    width: auto;
    height: 35rem;
    z-index: 10;
	max-width: none;
	transform: rotate(-3deg);
}



section.hero div.chunklet h2 {
	font-family: 'BDSans-Thin', 'Gruppo', sans-serif;
	font-weight: 100; 
	font-style: normal;
	position: relative;
    height: 8.5rem;
    font-size: 2rem;
    text-align: left;
    top: 0;
    padding-right: 2vw;
    font-size: 3.5rem;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    margin: 1rem;
    padding: 0;
}
section.hero div.chunklet h2 span {
	color: black;
	text-transform: uppercase;
    display: block;
    position: absolute;
    font-size: 4rem;
    padding: .25rem 1rem .25rem 1rem;
    top: 0;
    left: 0;
    width: 0;
    text-align: right;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition-property: all;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease-in-out;
}
section.hero div.chunklet h2 span.hero-what { 
	font-family: 'BDSans ExtReg', 'Gruppo', sans-serif; 
	font-weight: bold; 
	font-style: normal; 
}
section.hero div.chunklet h2 span.hero-where {
	top: 3.5rem !important;
    padding: 0 1rem;
    -webkit-transition-duration: .5s;
    transition-delay: 1s;
}
section.hero div.chunklet h2 span.hero-who {
	top: 5.5rem !important;
    font-size: 2.5rem;
    padding: .25rem 1rem .25rem 1rem;
    -webkit-transition-duration: .5s;
    transition-delay: 2s;
}
section.hero div.chunklet h2:hover span,
section.hero div.chunklet h2.animate span {
	right: 0;
	width: 100%;
	opacity: 1;
}


section.hero div.chunklet h4 {
	position: absolute;
    top: 8.9rem;
    right: 0;
    width: 100%;
    background: var(--darkest);
    color: var(--lightest);
    text-align: right;
	padding: .75rem 17vw .75rem 29vw;
    overflow: hidden;
    font-size: 1.25rem;
    font-weight: normal;
    margin-right: -14vw;
    white-space: nowrap;
}
/* section.hero .chunklet h4:before { 
	content: "";
    position: absolute;
    right: 3rem;
    top: -2.5rem;
    height: 6rem;
    width: 6rem;
    border-top: 2rem solid rgba(255, 255, 255, 1);
    transform: rotate(45deg);
    border-right: 2rem solid rgba(255, 255, 255, 1);
}
section.hero .chunklet h4:after {
	content: "";
    position: absolute;
    right: 8.5rem;
    top: -2.5rem;
    height: 6rem;
    width: 6rem;
    border-top: 2rem solid rgba(255, 255, 255, 1);
    transform: rotate(45deg);
    border-right: 2rem solid rgba(255, 255, 255, 1);
} */
section.hero div.chunklet a.button-primary {
	top: 14rem;
    right: 2rem;
}
  



/* search form */
form.videographer-search {
    /* border: 1px solid; */
	padding: 1rem 2rem;
	background: rgba(255, 255, 255, .5);
	border-radius: var(--base-radius);
}
form.videographer-search fieldset {
	width: 100%;
    position: relative;
}
form.videographer-search legend { 
    font-weight: bold;
    font-size: 1rem;
}
form.videographer-search input.search-input {
	width: 100%;
    font-size: 1.25rem;
    padding: .5rem 3rem .5rem 1rem;
    border: 2px solid var(--offlight);
    border-radius: 2rem;
	text-overflow: ellipsis;
}
form.videographer-search input[type=text].search-input:focus {
    border: 2px solid #aaa;
	outline: 1px solid #aaa;
	/* background: var(--lightest); */
}
form.videographer-search button.search-submit {
	position: absolute;
    right: .25rem;
    font-size: 1.25rem;
    padding: .6rem .4rem .6rem 0;
    border-radius: 2rem;
    border: 1px solid var(--offlight);
    width: 2.7rem;
    overflow: hidden;

    background-image: var(--primegradient-off);
    color: var(--lightest);
    top: .25rem;
}
form.videographer-search button.search-submit > span { 
	text-indent: -10000px;
    width: 0;
    display: inline-block; 
}
form.videographer-search button.search-submit:hover,
form.videographer-search button.search-submit:focus { 
	background-image: var(--primegradient-on); 
	color: var(--lightest); 
}
form.videographer-search span.option2 {
    display: block;
    text-align: center;
    padding: .5rem 0 0
}
form.videographer-search a.user-location { text-transform: uppercase; }


form.videographer-search .result-block { display: none; }
form.videographer-search.result .result-block { display: block; text-align: center; }
form.videographer-search.result .result-block p {
    margin: 0;
	padding: 1rem 5rem;
    font-size: 1rem;
}
form.videographer-search.error .result-block p { 
	color: var(--error-color); 
	font-style: italic; 
}

section#network_search form.videographer-search { width: 50%; }

/* hero overrides */
section#home_hero form.videographer-search {
	position: absolute;
    z-index: 11;
	right: 2rem;
    top: 13.5rem;
    width: 50vw;
	padding: 0;
	/* transform: rotateY(6deg); */
}
section#home_hero form.videographer-search legend { 
	/* display: none; */
	text-align: center;
    padding: 0 0 .75rem;
}

section#home_hero div.chunklet form.videographer-search.result .result-block a.cta-button.button-primary {
    top: auto;
    right: auto;
}
section#home_hero div.chunklet form.videographer-search.error .result-block a.cta-button.button-primary { display: none; }

/* Google autocomplete */
.pac-container {
    background-color: var(--lightest);
    position: absolute !important;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, sans-serif;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	padding: 0.5rem;
	border-radius: 5px;
}
.pac-container:after { display: none !important; } /* hide logo */
.pac-item {
    cursor: default;
    padding: .25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
    font-size: 11px;
    color: #515151;
    font-size: 1rem;
}
.pac-item:last-child { border-bottom: 1px solid #e6e6e6; }
.pac-item * {
    font-size: 1rem;
}
.pac-icon {
    width: 15px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    -webkit-background-size: 34px 34px;
    background-size: 34px;
	display: none;
}




/* section: process */
div.process-container, .timeline {
	position: relative; 
	background: rgba(255, 255, 255, .9);
	border-radius: var(--base-radius);
    min-height: 24rem;

	text-align: center;
	overflow: auto;
	padding: 2rem;
}
#process .process-tile-list {
    display: flex;
	justify-content: center;
	/* https://codepen.io/enxaneta/pen/adLPwv */
	/* flex-flow: nowrap; */
    gap: 2rem;
	flex-wrap: wrap;

    margin: 0;
    padding: 0;
	position: relative;
	list-style: none;
}

#process .process-tile-list li::marker {
    font-size: 2em;
}
/* #process .process-tile-list li:after {
	content: "";
    font-size: 2em;
    background: red;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 1rem;
} */
#process .process-tile-list li.tile { 
	/* flex: 1;  */
    border: 1px solid var(--offlight);
    border-radius: var(--base-radius);
    height: 32vh;
	width: 36vw;
	min-width: 18vw;
	/* background-image: url(https://unsplash.it/300/400); */
	margin: 0;
	transition: all .25s ease-in-out;
	cursor: default;
	position: relative;

	background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
}
#process .process-tile-list li.tile:nth-child(4), 
#process .process-tile-list li.tile:nth-child(5) {
	height: 15vh;
  }
#process .process-tile-list li.tile h5 { 
	position: absolute;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    bottom: -.5rem;
    margin: 0;
    padding: 0;
}
#process .process-tile-list li.tile h5 span { 
	background: var(--lightest);
    display: inline;
    border: 1px solid var(--offlight);
    padding: .15rem 1rem;
	white-space: nowrap;
}
#process .process-tile-list span {
	background: rgba(255, 255, 255, .75);
    padding: 1rem;
    margin: 0;
    position: relative;
    line-height: 1rem;
    display: block;
    border-radius: .5rem;
    height: 100%;
}
#process .process-tile-list li.tile:hover h5 span { 
	background: var(--offlight);
}
#process .process-tile-list .tile:first-child video {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #dadada20;
	z-index: -1;
	overflow: hidden;
	top: 0;
	left: 0;
}


div.process-container li span.new { 
	/* vertical-align: middle;  */
}
div.process-container li span.old { display: none; }
ol.process-list,
ol.process-sublist {
	height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
	padding: 1rem;
}
ol.process-list {
	z-index: 10;
    position: relative;
}
ol.process-sublist {

}

ol.process-list li,
ol.process-sublist li {
	background: var(--lightest);
    display: inline-block;
    padding: .25rem;
    border-radius: 2rem;
    width: 7rem;
    position: absolute;
	border: 1px solid;
    line-height: 1rem;
    text-align: center;
	min-height: 4rem;
}
div.process-container li em { font-weight: bold; }
ol.process-list > li:nth-child(1) {
    top: 15rem;
	left: 0;
}
ol.process-list > li:nth-child(1):after {
	content: "";
    height: 0;
    border: 5px solid var(--darkest);
    line-height: 0;
    background: transparent;
    display: block;
    position: absolute;
    left: 100%;
    width: 22rem;
    top: 50%;
}
ol.process-list > li:nth-child(2) {
    left: 9rem;
    top: 15rem;
}
ol.process-list > li:nth-child(3) {
	left: 17rem;
    top: 15rem;
}
ol.process-list > li:nth-child(4) {
	top: 5rem;
    left: 50%;
    width: 14vw;
    height: 23.5vh;
    margin: 0 0 0 -3vw;
    background: none;
    /* border-radius: 1rem; */
    border-top: none;
    border-bottom: none;
    border-left: 10px solid var(--darkest);
    border-right: 10px solid var(--darkest);
}
ol.process-list > li:nth-child(5) {
	right: 10rem;
    top: 4rem;
}
ol.process-list > li:nth-child(6) {
	top: 4rem;
    right: 1rem;
}

ol.process-sublist li:nth-child(1) {
	bottom: -1rem;
    left: -4rem;
}
ol.process-sublist li:nth-child(1):after {
	content: "";
    height: 0;
    border: 5px dotted var(--offlight);
    line-height: 0;
    background: transparent;
    display: block;
    position: relative;
    left: 1rem;
    width: 15rem;
    bottom: 7rem;
    transform: rotate(-45deg);
    z-index: -1;
}
ol.process-sublist li:nth-child(2) {
	top: -1rem;
    left: -4rem;
}
ol.process-sublist li:nth-child(2):before {
	content: "";
    height: 0;
    border: 5px solid var(--darkest);
    line-height: 0;
    background: var(--darkest);
    display: block;
    position: relative;
    left: 1rem;
    width: 15rem;
    top: 7rem;
    transform: rotate(45deg);
    z-index: -1;
}
ol.process-sublist li:nth-child(3) {
	right: -4rem;
    bottom: -1rem;
}
ol.process-sublist li:nth-child(4) {
	right: -4rem;
    top: -1rem;
}
ol.process-sublist li:nth-child(4):after {
	content: "";
    height: 0;
    border: 5px solid var(--darkest);
    line-height: 0;
    background: transparent;
    display: block;
    position: absolute;
    left: 100%;
    width: 14rem;
    top: 50%;
}




.timeline .year {
	display: inline-block;
	font-size: 36px;
	font-weight: bold;
	position: relative;
  }
  .timeline .year span {
	display: inline-block;
	padding-bottom: 6px;
  }
  .timeline .year:after {
	content: "";
	display: block;
	width: 80%;
	margin: auto;
	height: 1px;
	background: var(--primedark);
  }
  .timeline .year--end:before {
	content: "";
	display: block;
	width: 80%;
	margin: auto;
	height: 1px;
	background: var(--primedark);
  }
  .timeline .year--end:after {
	content: none;
  }
  .timeline .days {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  .timeline .days .day {
	width: 100%;
	float: left;
  }
  .timeline .days .day .events {
	position: relative;
	float: left;
	border-right: 1px solid var(--primedark);
	padding: 30px;
	text-align: right;
	width: 50%;
  }
  .timeline .days .day .events:after {
	content: "";
	width: 40%;
	display: inline-block;
	height: 1px;
	background: var(--primedark);
	position: absolute;
	right: 0;
  }
  .timeline .days .day .events .date {
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	padding: 30px;
	text-align: left;
	color: var(--primedark);
	font-size: 24px;
	white-space: nowrap;
  }
  .timeline .days .day .events .day__img {
	margin-right: -30px;
	position: relative;
	overflow: hidden;
  }
  .timeline .days .day .events .day__img img {
	display: block;
	float: right;
  }
  .timeline .days .day .events .day__img .caption {
	position: absolute;
	margin: 0;
	bottom: 0;
	right: 0;
	padding: 20px;
	background: rgba(0, 0, 0, 0.7);
	color: var(--lightest);
  }
  .timeline .days .day:nth-child(odd) .events {
	width: calc(50% + 1px);
	float: right;
	border-right: 0;
	border-left: 1px solid var(--primedark);
	text-align: left;
  }
  .timeline .days .day:nth-child(odd) .events:after {
	right: auto;
	left: 0;
  }
  .timeline .days .day:nth-child(odd) .events .date {
	left: auto;
	right: 100%;
	text-align: right;
  }
  .timeline .days .day:nth-child(odd) .events .day__img {
	margin-right: auto;
	margin-left: -30px;
  }
  .timeline .days .day:nth-child(odd) .events .day__img img {
	float: left;
  }
  .timeline .days .day:nth-child(odd) .events .day__img .caption {
	right: auto;
	left: 0;
  }







/* section: client types */
ul.tile-list {
    display: flex;
	justify-content: center;
	/* https://codepen.io/enxaneta/pen/adLPwv */
	/* flex-flow: nowrap; */
    gap: 1rem;
	flex-wrap: wrap;

    list-style: none;
    margin: 0;
    padding: 0;
	position: relative;
}
ul.tile-list li.tile { 
	/* flex: 1;  */
    border: 1px solid var(--offlight);
    border-radius: var(--base-radius);
    height: 32vh;
	width: 32vw;
	min-width: 18vw;
	/* background-image: url(https://unsplash.it/300/400); */
	margin: 0;
	transition: all .25s ease-in-out;
	cursor: default;
	position: relative;

	background-size: 140%;
    background-repeat: no-repeat;
    background-position: center;
}
ul.tile-list li.tile span {
	background: rgba(255, 255, 255, .75);
    padding: 0 1rem 1rem;
    margin: 0;
    position: relative;
    border-top: 1px solid var(--lightest);
    line-height: 1rem;
    display: block;
    position: absolute;
    bottom: 0;
    height: 7rem;
    width: 100%;
}

ul.tile-list li.tile h4 { }
ul.tile-list li.tile p { }
#client_types ul.tile-list li.tile:nth-child(1) { 
	border-radius: 1rem 0 0 0; 
	/* background-image: url(https://unsplash.it/400/300); */
	background-image: url(../images/client-type-1.png);
}
#client_types ul.tile-list li.tile:nth-child(2) { 
	border-radius: 0 0 0 1rem; 
	/* background-image: url(https://unsplash.it/401/300);  */
	background-image: url(../images/client-type-2.jpg);
}
#client_types ul.tile-list li.tile:nth-child(3) { 
	border-radius: 0 0 1rem 0; 
	/* background-image: url(https://unsplash.it/402/300);  */
	background-image: url(../images/client-type-3.jpg);
}
#client_types ul.tile-list li.tile:nth-child(4) { 
	border-radius: 0 1rem 0 0; 
	/* background-image: url(https://unsplash.it/403/300);  */
	background-image: url(../images/client-type-4.png);
}
ul.tile-list li i.fa-solid {
	background: none;
    font-size: 4rem;
    display: inline-block;
    position: absolute;
    display: block;
    bottom: 6rem;
    color: var(--primedark);
    right: 1rem;
}
/* https://bennettfeely.com/clippy */
ul.tile-list li.tile:first-child { 
	/* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);  */
}
ul.tile-list li.tile:hover { transform: scale(1.1); z-index: 10; clip-path: none; }




/* section: testimonials */
.featured-testimonials {
	display: block;
}
.testimonial-list {
	list-style: none;
    margin: 0;
    padding: 0;
	position: relative;
}
.testimonial-list li:hover {}
.testimonial-list li.active {
	/* background: var(--offlight); */
    border-radius: .5rem;
    padding: 0 60% 0 0;
    /* text-align: right; */
    /* margin-left: -2rem; */
}
.testimonial-list > li > .card {
	position: absolute;
    border-radius: var(--base-radius);
    background: var(--lightest);
    top: 0;
    right: 0;
    /* height: 150%; */
    width: 66%;
    font-size: 2rem;
    padding: 1.5rem;
    opacity: 0;
	display: none;
	z-index: 10;
}
.testimonial-list > li > .card.zero {
	opacity: 1;
	display: block;
	font-size: 1rem;
	/* border: 1px solid var(--darkest); */
}
.testimonial-list > li > .card img { 
	max-height: 4rem; 
	max-width: 80%; 
}
.testimonial-list > li > .card .image-frame {
    width: 60%;
    margin: 0 20%;
    display: inline-block;
    position: relative;
}
.testimonial-list > li > .card .image-frame img {
	max-width: 100%;
    max-height: unset;
	border-radius: 1rem;
	cursor: pointer;
}
.testimonial-list > li > .card h4 { display: none; }
.testimonial-list > li > .card q {
	padding: 2rem 1.5rem 0;
    display: none;
    font-size: 1.5rem;
}
.testimonial-list > li > .card blockquote {
	border-left: 8px solid var(--primedark);
    margin: 1rem 0 0 3rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 1rem;
}
.testimonial-list > li > .card cite {
    display: block;
    text-align: right;
    font-size: 1.5rem;
    padding: 1rem 5rem 0 0;
	font-style: italic;
}
.testimonial-list > li a { color: var(--darkest); text-decoration: none; }
.testimonial-list > li > a > img { 
	max-height: 5rem;
    display: inline-block;
    max-width: 15rem;
}
.testimonial-list > li a:hover,
.testimonial-list > li a:focus,
.testimonial-list > li a:active { 
	color: var(--primedark); 
	text-decoration: none; 
	outline: none; 
	font-weight: bold;
	/* transform: scale(1.1); */
	/* padding-left: 20%; */
}
.testimonial-list > li.active .card,
.testimonial-list > li a:hover ~ .card,
.testimonial-list > li a:focus ~ .card,
.testimonial-list > li a:active ~ .card { 
	opacity: 1; 
	display: block; 
	/* z-index: 11; */
}
.testimonial-list > li.active .card,
.testimonial-list > li a:hover ~ .card { z-index: 11; }

.featured-testimonials h4 { display: block; margin: 0; }
.featured-testimonials h4 a,
.testimonial-list > li > a {
	font-size: 2rem;
    line-height: 4rem;
    display: block;
    padding: 2rem 3rem;
}
.featured-testimonials h4.one:hover ~ .card-panel .card.one,
.featured-testimonials h4.two:hover ~ .card-panel .card.two,
.featured-testimonials h4.three:hover ~ .card-panel .card.three,
.featured-testimonials h4.four:hover ~ .card-panel .card.four,
.featured-testimonials h4.one:focus ~ .card-panel .card.one,
.featured-testimonials h4.two:focus ~ .card-panel .card.two,
.featured-testimonials h4.three:focus ~ .card-panel .card.three,
.featured-testimonials h4.four:focus ~ .card-panel .card.four,
.featured-testimonials h4:not(hover) ~ .card-panel .card.default {
	opacity: 1;
}
.featured-testimonials .card-panel {
	display: inline-block; 
	text-align: center; 
	background: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
	padding-right: 20vw;
    border: 2px dotted var(--offlight);
    height: 20rem;
}
.featured-testimonials .card-panel .card {
	position: absolute;
	border-radius: var(--base-radius);
	background: var(--darkest);
	color: var(--lightest);
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
	font-size: 2rem;
	opacity: 0;
	padding: 1rem;
}

/* originally: https://codepen.io/Klax/pen/RwERrYL
.testimonials-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 100vw;
	height: 69vh;
	position: absolute !important;
	top: 0;
	left: 0;
}
.testimonials-container h4 {
	width: 43%;
	margin-left: 10vw;
	font-size: 2.5rem;
	color: var(--lightest);
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	transition: 300ms ease;
	padding: 1rem 0;
}
.testimonials-container h4:hover {
	background: var(--primegradient-off);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.testimonials-container h4:first-child {
	margin-top: 14rem;
}
#video-container {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #dadada20;
	z-index: -1;
	overflow: hidden;
}
#testimonial-container {
	height: 54%;
	z-index: -1;
	overflow: auto;
	width: 34%;
	position: absolute;
	top: 13rem;
	right: 10vw;
	background: rgba(255, 255, 255, .5);
	border-radius: .5rem;
}
#video-container .video {
	pointer-events: none;
	max-width: 100vw;
	position: absolute;
	opacity: 0;
	transition: 1000ms ease;
}
#testimonial-container .testimonial {
	pointer-events: none;
	opacity: 0;
	transition: 1000ms ease;
	position: absolute;
	font-size: 1.5rem;
	padding: 1rem;
}
#video-container::before {
	content: "";
	position: absolute;
	z-index: 10;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: var(--darkest);
}
#client_one:hover~#video-container .client_one,
#client_two:hover~#video-container .client_two,
#client_three:hover~#video-container .client_three,
#client_four:hover~#video-container .client_four,
#client_one:hover~#testimonial-container .client_one,
#client_two:hover~#testimonial-container .client_two,
#client_three:hover~#testimonial-container .client_three,
#client_four:hover~#testimonial-container .client_four {
	opacity: 1;
}
.testimonials-container:hover h4:not(hover) {
	opacity: 0.3;
}
.testimonials-container:hover h4:hover {
	opacity: 1;
}
*/


/* section: industry list */
div.featured-industries { display: flex; gap: 1rem; }
ul.industry-list {
	list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
	flex: 1.25;
    padding: 1rem 2rem;
	display: inline-block;
}
ul.industry-list li { 
	display: inline-block;
    border: 1px solid var(--offlight);
    border-radius: var(--base-radius);
    padding: .5rem 1rem .5rem 3.5rem;
    margin: .25rem;
	line-height: 1.5rem;
	background: var(--lightest);
	cursor: pointer;
	position: relative;
}
ul.industry-list li:hover { 
	/* background: var(--offlight); */
    border: 1px solid var(--darkest);
}
ul.industry-list li.active,
ul.industry-list li.active:hover { 
	background-color: var(--primedark);
	background-image: var(--primegradient-on);
	color: var(--lightest);
	font-weight: bold;
}
ul.industry-list li:hover { 
	transform: scale(1.25);
    z-index: 10;
}
ul.industry-list li i.fa-solid,
ul.industry-list li:after {
	font-size: 1.5rem;
	padding-right: .5rem;
	vertical-align: middle;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900;
    position: absolute;
    left: 1rem;
}

ul.industry-list li[data-industry="street_apparel"]:after { content: "\f553"; }
ul.industry-list li[data-industry="food_and_beverage"]:after { content: "\f805"; }
ul.industry-list li[data-industry="construction"]:after { content: "\f85e"; }
ul.industry-list li[data-industry="healthcare"]:after { content: "\e579"; }
ul.industry-list li[data-industry="legal"]:after { content: "\f515"; }
ul.industry-list li[data-industry="dental"]:after { content: "\f5c9"; }
ul.industry-list li[data-industry="church"]:after { content: "\f51d"; }
ul.industry-list li[data-industry="oil_and_gas"]:after { content: "\e532"; }
ul.industry-list li[data-industry="restaurant"]:after { content: "\f2e7"; }
ul.industry-list li[data-industry="finance"]:after { content: "\f81d"; }
ul.industry-list li[data-industry="community_service"]:after { content: "\f4c4"; }
ul.industry-list li[data-industry="cannabis"]:after { content: "\f55f"; }
ul.industry-list li[data-industry="software"]:after { content: "\f3fa"; }

.card-panel { 
	flex: 1; 
	display: inline-block; 
	text-align: center; 
    /* min-height: 22rem; */
    overflow: hidden;
    max-height: 24rem;
}

div.featured-industries .card-panel .card { 
	display: none; 
    padding: 1rem 1rem 2rem;
	background: var(--offlight);
	border-radius: var(--base-radius);
}
div.featured-industries .card-panel .card.active { display: block; }
div.featured-industries ul.industry-list li[data-industry="street_apparel"]:hover ~ div.featured-industries .card-panel .card[data-industry="street_apparel"] { display: block; }

div.featured-industries .card-panel .image-frame {
	display: inline-block;
	max-width: 80%;
	position: relative;
	cursor: pointer;
}
.testimonial-list > li > .card .image-frame:after,
.testimonial-list > li > .card .image-frame:before,
div.featured-industries .card-panel .image-frame:after,
div.featured-industries .card-panel .image-frame:before {
	display: block;
    height: 3.25rem;
    width: 3.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3rem;
    margin: -1.5rem 0 0 -1.5rem;
    color: var(--darkest);
    background: var(--lightest);
    border-radius: 50%;
    line-height: 3.25rem;
    text-align: center;
	z-index: 10;
	opacity: .7;
	cursor: pointer;
}
.testimonial-list > li > .card .image-frame:after,
div.featured-industries .card-panel .image-frame:after {
	background: var(--primegradient-off);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.testimonial-list > li > .card .image-frame:hover:after,
div.featured-industries .card-panel .image-frame:hover:after { 
	color: var(--darkest); 
	background: var(--lightest);
	opacity: 1; 
	background: var(--primegradient-on);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.testimonial-list > li > .card .image-frame:hover:before,
div.featured-industries .card-panel .image-frame:hover:before { 
	opacity: 1; 
}
.testimonial-list > li > .card .image-frame img,
div.featured-industries .card-panel .image-frame img {
    max-width: 100%;
    max-height: 15rem;
	border-radius: 1rem;
	border: 1px solid transparent;
	opacity: .9;
	cursor: pointer;
}
.testimonial-list > li > .card .image-frame:hover img,
div.featured-industries .card-panel .image-frame:hover img {
	opacity: 1;
}









/* ONLY use for audience specific content */
section.full-centered-chunk,
section.businesses-content,
section.videographers-content {
	/* background-color: var(--offlight); */
	/* border-bottom: 1px solid #e4ebf3; */
	padding: 3rem 2rem;
	/* margin: 3rem 0; */
	position: relative;
	/* min-height: 69vh; */
    min-height: 36rem;
}
section.businesses-content,
section.videographers-content {
	/*display: none;*/
}
section.businesses-content.enabled,
section.videographers-content.enabled {
	display: block;
}
.chunklet {
	text-align: left;
	max-width: 80vw;
	margin-left: auto;
	margin-right: auto;
}
/* .chunklet * { position: relative; } */
section .chunklet h3 {
	color: var(--darkest);
    /* background: var(--darkest); */
    padding: 2rem 10vw 2rem 3vw;
    margin: -1rem -10vw 2rem -3vw;
    /* line-height: 2rem; */
    font-size: 3rem;
	letter-spacing: -5px;
    /* transform: rotate(-2deg); */
    overflow: hidden;
    font-family: 'BDSans ExtReg', 'Gruppo', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    /* text-shadow: 0px 4px 3px rgba(255, 255, 255, 0.4), 0px 8px 13px rgba(255, 255, 255, 0.1), 0px 18px 23px rgba(255, 255, 255, 0.1); */
    font-weight: bold;
	/* font-family: 'BDSans-Thin', 'Gruppo', sans-serif;
	font-weight: 100; */
	/*text-shadow: 
	0px 4px 3px rgba(255, 255, 255, 0.4),
	0px 8px 13px rgba(255, 255, 255,0.1),
	0px 18px 23px rgba(255, 255, 255,0.1);*/
}
/* section .chunklet h3 i { display: none; } */
/*
section .chunklet h3:before {
	content: "";
	position: absolute;
	right: 12rem;
	top: -1.5rem;
	height: 6rem;
	width: 6rem;
	border-top: 3rem solid var(--lightest);
	transform: rotate(45deg);
	border-right: 3rem solid var(--lightest);
	z-index: -1;
}
section .chunklet h3:after {
	content: "";
	position: absolute;
    right: 4rem;
    top: 0.5rem;
	height: 6rem;
	width: 6rem;
	border-top: 3rem solid var(--lightest);
	transform: rotate(45deg);
	border-right: 3rem solid var(--lightest);
}
*/
section .chunklet p.standout {
	background: rgba(255, 255, 255, .75);
	padding: 2rem;
	border-radius: var(--base-radius);
	margin: 3rem 1rem 1rem
}




/* section: cta */
#cta_section {
	background-image: url(../images/camera-rev.png);
	/* background-size: contain; */
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}
#cta_section .chunklet {
    padding: 8rem 0 0 50vw;
    min-height: 36rem;
}
#cta_section p { 
	font-size: 1rem;
    margin: 0 0 1rem; 
}
#cta_section h2 * {
	vertical-align: bottom;
	margin: 0;
	padding: 0;
}
#cta_section h2 { 
	white-space: nowrap;
    margin: 0 0 1rem; 
}
#cta_section .clever em {
	font-style: normal;
}
#cta_section .clever .swap-a,
#cta_section .clever .swap-b {
	max-width: 0;
	opacity: 0;
	margin: 0 -1px;
	display: inline-block;
	overflow: hidden;
	animation: clever 16s infinite;
}
#cta_section .clever .swap-b {
	-webkit-animation-delay: 8s;
}
@keyframes clever {
	0% {
		max-width: 0;
		opacity: 0;
	}

	40% {
		max-width: 0;
		opacity: 0;
	}

	50% {
		max-width: 500px;
		opacity: 1;
	}

	80% {
		max-width: 500px;
		opacity: 1;
	}

	90% {
		max-width: 0;
		opacity: 0;
	}

	100% {
		max-width: 0;
		opacity: 0;
	}
}
	



/* global footer */
body > main > footer .chunklet {
	text-align: center;
}
footer ul.social { 
	list-style: none; 
	padding: 0;
	margin: 2rem 1rem;
	position: relative;
}
footer ul.social li { 
	display: inline-block;
    padding: 0;
    margin: 0;
}
footer ul.social li a { 
	display: inline-block;
    overflow: hidden;
    height: 3rem;
    width: 3rem;
    margin: 0 .5rem;
    vertical-align: middle;
    text-align: center;
    color: var(--lightest);
    background: var(--darkest);
    font-size: 1.5rem;
    line-height: 2.2rem;
    border-radius: 50%;
    border: 2px solid var(--lightest);
    padding: .25rem;
	opacity: .75;
}
footer ul.social li a:hover,
footer ul.social li a:active,
footer ul.social li a:focus { 
	opacity: 1;
}
footer ul.social li a span {
	display: inline-block;
	text-indent: -1000px;
	overflow: hidden;
	height: 0;
	width: 0;
} 
/*
footer ul.social:before,
footer ul.social:after {
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free"; 
}
footer ul.social:before {
	content: "\f075";
	transform: scale(-1, 1);
} 
footer ul.social:after {	
	content: "\f075";
} 
*/
img.logo-map { 
	width: 3rem;
    margin-top: 3rem; 
}



/* audience buttons */
.audience-toggle {
	font-size: 3rem;
}
#audience_buttons {
	position: absolute;
    bottom: -10rem;
	text-align: center;
	left: 0;
	right: 0;
	padding: 1rem 0 5rem 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
#audience_buttons button {
	padding: .75rem 2rem;
	cursor: pointer;
	text-align: center;
	background-color: var(--lightest);
	outline: none;
	overflow: visible;
	z-index: 0;
	border: .125rem solid transparent;
	border-radius: 2rem;
	margin: 0 .5rem;
	text-transform: capitalize;
}
#audience_buttons button.audience-selected {
	border: .125rem solid var(--primedark);
}
#audience_buttons button:hover,
#audience_buttons button:active,
#audience_buttons button:focus {
	border: .125rem solid var(--primelight);
	/* font-weight: bold; */
}
@media only screen and ( max-width: 400px ) {}
  
	
  
	
/* animated backgrounds */
.anim-test-1, .animate-bg-horizontal {
	background-image: url(https://unsplash.it/1200/800);
	background-position: 0px 0px;
	background-size: 110%;
	background-repeat: no-repeat;
	animation: animatedBackground_horizontal 10s linear infinite alternate;
}

.anim-test-2, .animate-bg-zoom {
	background-image: url(https://unsplash.it/1000/800);
	background-size: 110%;
	background-position: center center;
	background-repeat: no-repeat;
	animation: animatedBackground_zoom 10s infinite alternate;
}
.anim-test-3:before {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 1; /* <<< */
	background-image: url(https://unsplash.it/1200/800);
	background-position: 0px 0px;
	background-size: 110%;
	background-repeat: no-repeat;
	animation: animatedBackground_horizontal 10s linear infinite alternate;
}
@keyframes animatedBackground_horizontal {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}
@keyframes animatedBackground_zoom {
	0% {
		background-size: 110%;
	}
	100% {
		background-size: 100%;
	}
}



/* logo & video thumbnail tickers */
.logo-ticker-section-logos-grid,
.video-ticker-section-videos-grid {
	position: relative;
    margin: 2rem -12vw;
}
#video_scroll_1.video-ticker-section-videos-grid {
    margin: 0 -12vw;
	/* background: var(--darkest); */
    padding: 6px 0 6px;
}
#video_scroll_2.video-ticker-section-videos-grid {
    margin: 0 -12vw;
	/* background: var(--darkest); */
    padding: 6px 0 6px;
}
.logo-ticker-section-logos-grid[focus-within] .logo-ticker-section-logos-slide,
.video-ticker-section-videos-grid[focus-within] .video-ticker-section-videos-slide,
.logo-ticker-section-logos-grid:focus-within .logo-ticker-section-logos-slide,
.video-ticker-section-videos-grid:focus-within .video-ticker-section-videos-slide {
	animation: none;
}
.logo-ticker-section-logos-grid[focus-within] .logo-ticker-section-logos-container:hover .logo-ticker-section-logos-slide-container,
.video-ticker-section-videos-grid[focus-within] .video-ticker-section-videos-container:hover .video-ticker-section-videos-slide-container,
.logo-ticker-section-logos-grid:focus-within .logo-ticker-section-logos-container:hover .logo-ticker-section-logos-slide-container,
.video-ticker-section-videos-grid:focus-within .video-ticker-section-videos-container:hover .video-ticker-section-videos-slide-container {
	transform: translate(0);
}
.logo-ticker-section-logos-container,
.video-ticker-section-videos-container {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}
.logo-ticker-section-logos-container:hover .logo-ticker-section-logos-slide-container,
.video-ticker-section-videos-container:hover .video-ticker-section-videos-slide-container {
	transform: translate(-2%);
}
.logo-ticker-section-logos-container:hover .logo-ticker-section-logos-slide,
.video-ticker-section-videos-container:hover .video-ticker-section-videos-slide {
	animation-play-state: paused;
}
.logo-ticker-section-logos-slide-container,
.video-ticker-section-videos-slide-container {
	display: inline-block;
	transform: translate(0);
	transition: 1s ease-out;
	opacity: 1;
}
.logo-ticker-section-logos-slide,
.video-ticker-section-videos-slide {
	display: inline-block;
	animation: 24s ticker infinite linear;
	animation-delay: .2s;
}
.video-ticker-section-videos-slide {
	animation: 36s ticker infinite linear;
	animation-delay: .2s;
}
.logo-ticker-section-image-container,
.video-ticker-section-image-container {
	display: inline-block;
    margin: 0 3rem;
}
.video-ticker-section-image-container { margin: 0 6px; }
.logo-ticker-section-image-frame,
.video-ticker-section-image-frame {
	display: inline-block;
	max-width: 11rem;
	outline-style: none;
}
.video-ticker-section-image-frame {
	max-width: 28vw;
	position: relative;
	cursor: pointer;
}
.video-ticker-section-image-frame:after,
.video-ticker-section-image-frame:before {
	display: block;
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3rem;
    margin: -1.5rem 0 0 -1.5rem;
    color: var(--darkest);
    background: var(--lightest);
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
	z-index: 10;
	opacity: .7;
    /* border: 3px solid transparent; */
}
.video-ticker-section-image-frame:after {
	background: var(--primegradient-off);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.video-ticker-section-image-frame:hover:after { 
	color: var(--darkest); 
	background: var(--lightest);
	opacity: 1; 
	background: var(--primegradient-on);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.video-ticker-section-image-frame:hover:before { 
	opacity: 1; 
}
.logo-ticker-section-image-frame img,
.video-ticker-section-image-frame img {
    max-width: 11rem;
    transform: none;
    transition: transform .5s;
    max-height: 6rem;
}
.video-ticker-section-image-frame img {
    max-width: 28vw;
    max-height: 15rem;
	border-radius: 1rem;
	border: 1px solid transparent;
	opacity: .9;
}
.video-ticker-section-image-frame:hover img {
	opacity: 1;
	/* border: 1px solid rgba(0, 0, 0, .5); */
	/* -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5); */
}
@keyframes ticker {
	0% {
		transform: translate(0);
	}
	to {
		transform: translate(-100%);
	}
}


/* for funsies */
.filmstrip {
	--background: rgba(0, 0, 0, .35);
	--size: .5rem;
	background-image:
	  linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
	  linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
	  linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
	  linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
	  linear-gradient(to bottom, transparent var(--size), var(--background) var(--size));
	background-size: calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
	background-repeat: repeat-x;
	background-position: 0 var(--size), top left, 0 calc(100% - var(--size)), bottom left, 0 var(--size);
	padding: calc(var(--size) * 3) calc(var(--size) * 2.5);
	box-sizing: border-box;
}


/* https://codepen.io/chatahana/pen/xxNrWdp */
.aperture {
	display: block;
	margin: auto;
	cursor: pointer;
	background: url("http://www.hollywoodreporter.com/sites/default/files/2012/06/kiss_family_guy_crowd_a_l.jpg");
	background-position: 50% 0%;
	background-repeat: repeat;
	background-origin: border-box;
	width: 200px;
	height: 200px;
	border: 50px solid var(--darkest);
	border-radius: 100%;
	box-sizing: border-box;
	transition: .5s ease;
}
.aperture:hover {
	background-position: 85% 0%;
	border: 5px solid var(--darkest);
}

/* VIDEO Playa: https://codepen.io/laricoDev/pen/ExZzMeg */
#lvideo-wrap {
	position: fixed;
	height: 100dvh;
	z-index: 9991;
	opacity: 0;
	visibility: hidden;
}
#lvideo-wrap h3 {
	position: absolute;
    top: .75rem;
    left: 0;
    color: var(--lightest);
    /* transform: rotate(-90deg); */
    z-index: 10;
    font-size: 3rem;
    white-space: nowrap;
    background-image: var(--primegradient-off);
    height: 4rem;
    line-height: 4rem;
    width: 100%;
    padding: 0 10%;
	text-transform: uppercase;
    font-style: italic;
    text-align: right;
}
#lvideo-wrap, #lvideo-wrap:after, #lvideo-wrap .lvideo-overlay {
	left: 0;
	top: 0;
	width: 100%;
	transition: all 0.3s ease-in-out;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .5);
}
#lvideo-wrap:after, #lvideo-wrap .lvideo-overlay {
	height: 100%;
	position: absolute;
}
#lvideo-wrap:after {
	content: "";
	display: block;
	background-color: var(--primary-color);
	opacity: 0;
	z-index: -1;
}
#lvideo-wrap .lvideo-container {
	height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#lvideo-wrap video, #lvideo-wrap iframe {
	border-radius: 12px;
	position: relative;
	box-sizing: border-box;
	background-color: var(--darkest);
	z-index: 10;
	box-shadow: 0 0 19px rgba(0, 0, 0, 0.16);
	display: block;
	max-width: 1280px;
	height: auto;
	width: 90%;
	aspect-ratio: 1.7777777778;
    margin-top: 6rem;
}
#lvideo-wrap video {
	object-fit: cover;
}
#lvideo-wrap .lvideo-close {
	background-color: var(--lightest);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 5%;
	top: 5%;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	border: solid 2px var(--primary-color);
	padding: 0;
	transition: all 0.3s ease-in-out;
	z-index: 150;
}
#lvideo-wrap .lvideo-close:before, #lvideo-wrap .lvideo-close:after {
	content: "";
	width: 60%;
	height: 3px;
	background-color: var(--primary-color);
	position: absolute;
	transition: all 0.3s ease-in-out;
}
#lvideo-wrap .lvideo-close:before {
	transform: rotate(42deg);
}
#lvideo-wrap .lvideo-close:after {
	transform: rotate(-42deg);
}
#lvideo-wrap .lvideo-close:focus {
	outline: none;
}
#lvideo-wrap .lvideo-close:hover {
	background-color: var(--primary-color);
}
#lvideo-wrap .lvideo-close:hover:before, #lvideo-wrap .lvideo-close:hover:after {
	background-color: var(--lightest);
}
#lvideo-wrap.active {
	opacity: 1;
	visibility: visible;
}
#lvideo-wrap.active:after {
	opacity: 0.5;
}
