/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



  
:root {
	--navlink-hover: rgba( 129, 129, 139, .5);
	--navlink-current: rgba(0, 0, 0, 1);
	--offlight: rgba(243, 243, 246, 1);
	--offlight2: rgba(250, 250, 250, 1);
	--lightest: rgba(255, 255, 255, 1);
	--darkest: rgba(0, 0, 0, 1);
	--primelight: rgba(38, 132, 239, 1);
	--primedark: rgba(6, 73, 204, 1); 
	--guide-border-color: rgba(255, 0, 0, .5);
	--guide-background-color: rgba(255, 0, 0, .05);

	--primegradient-off: linear-gradient(to right, #2684ef, #0649cc);
	--primegradient-on: linear-gradient(to right, #0649cc, #2684ef);
	--secondarygradient-off: linear-gradient(to right, #ccc, #aaa);
	--secondarygradient-on: linear-gradient(to right, #aaa, #ccc);
	--error-color: #800;
	--error-color-light: rgb(255, 0, 0);

	--base-radius: .5rem;
	--base2-radius: 1rem;
	--base3-radius: 1.5rem;
	--base4-radius: 2rem;

	/* --section-heading-font: "DM Serif Text", serif; */
	/* --section-default-font: "DM Sans", "Figtree", sans-serif; */

	/* --section-heading-font: "Roboto", sans-serif; */
	/* --section-default-font: "Roboto", sans-serif; */
	
	--section-heading-font: 'poppins', sans-serif;
	--section-default-font: "poppins", sans-serif;


	--theme-1-lightest: rgba(255, 255, 255, 1);
	--theme-1-darkest: rgba(44, 38, 39, 1);
	--theme-1-primedark: rgba(188, 44, 61, 1);
	--theme-1-lightest: rgba(248, 243, 230, 1);
	--theme-1-offlight: rgba(239, 210, 188, 1);
}


/* core layout & typography */
html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

body {
	font-family: var(--section-default-font);
	font-weight: 300;
	font-style: normal;
	/* overflow-x: hidden; */
	font-size: 2rem;
	color: var(--darkest);
}



a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a, a.visited {
	color: var(--primedark);
}
a.cta-link, a.cta-link:hover {
	text-decoration: none;
}

p {
    padding: 0 0 2rem;
    line-height: 2.5rem;
}

/* loading animation */
.loading {
	margin: 0 auto;
    min-height: 100px;
    width: 100%;
    background: var(--offlight);
	position: relative;
}

.loading:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 5px solid var(--primelight);
	border-top-color: var(--primedark);
	animation: loading 2s linear infinite;
}
@keyframes loading {
	0% { transform: rotate(0deg) scale(1); }
	50% { transform: rotate(180deg) scale(1.2); }
	100% { transform: rotate(360deg) scale(1); }
}


body > header {}
body > main {
    padding: 0;
    width: 100%;
    text-align: center;
}
body > main > footer {
	background-color: var(--offlight);
    font-size: 1.5rem;
}





.button-primary, .button-secondary {
    background-color: var(--primelight);
    background-image: var(--primegradient-off);
    border-radius: 3rem;
    display: inline-block;
    color: var(--lightest);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1.5rem 2.5rem;
    line-height: 100%;
    transition: all .2s;
    font-size: 1.5rem;
    white-space: nowrap;
    border: none;
}
.button-primary:hover,
.button-primary:active,
.button-primary:focus {
	background-color: var(--primedark);
	background-image: var(--primegradient-on);
	text-decoration: none;
}
.button-secondary {
	background-color: var(--secondarylight);
	background-image: var(--secondarygradient-off);
	color: var(--darkest);
}
.button-secondary:hover,
.button-secondary:active,
.button-secondary:focus {
	background-color: var(--secondarydark);
	background-image: var(--secondarygradient-on);
	text-decoration: none;
	color: var(--darkest);

}





/* forms */
fieldset { border: none; position: relative; }
form legend {
    border: 0;
    padding: 0;
    text-align: center;
    font-weight: 500;
    padding: 1rem 0;
}
p.instruction {
	padding: .5rem 1rem .5rem 3rem;
    text-align: left;
    position: relative;
    border-radius: .5rem;
    background: var(--offlight);
    margin: 0 0 1rem;
}
p.instruction:before {
	content: "\f05a";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";

    color: var(--primedark);
    display: inline-block;
    font-weight: 900;
    position: absolute;
    left: 1rem;
}
form label {
	margin-bottom: 1rem;
    padding: 0 2rem;
	position: relative;
}
form label.half-width {
	display: inline-block;
}
form label.error {
    color: var(--error-color);
    font-weight: normal;
    text-align: right;
    padding: 0.5rem;
	display: none !important; /* TODO: revisit */
}
/* TODO: use flex */
form .options-wrapper label {
	position: unset;
    display: inline-block;
	font-weight: normal;
	min-width: 44%;
}
form label.half-width {
    display: inline-block;
    max-width: 48%;
    padding: 0 0 0 2rem;
}
form label > span {
	display: block;
}
form label > span em {
	font-weight: normal;
	font-style: normal;
	white-space: nowrap;
}
form input[type="text"],
form input[type="tel"],
form input[type="search"],
form input[type="email"],
form input[type="url"],
form input[type="date"],
form input[type="time"],
select, textarea {
    width: 100%;
    padding: .25rem 3rem .25rem 1rem;
    border: 2px solid var(--offlight);
    border-radius: 1rem;
    text-overflow: ellipsis;
    line-height: 100%; 
    font-weight: normal;
    background-color: var(--lightest);
    min-height: 2.5rem;
}
textarea { line-height: 1.25rem; }
select {
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
	background-color: var(--lightest);
}
select[multiple] {
    height: 4rem;
	background: unset;
}
select[multiple]:focus {
    /* min-height: 8rem; */
}
select[multiple] option { background: var(--lightest); }
select[multiple] option:checked {
	font-style: italic;
    padding-left: .5rem;
    /* text-decoration: underline; */
}
select[multiple] option:checked:before,
select[multiple] option:checked:after { content: "*"; }
.tag-select .selected {
	font-weight: normal;
	font-style: italic;
	font-size: .75rem;
}

[type="file"] {
	/* Style the color of the message that says 'No file chosen' */
	color: var(--darkest);
	padding-right: 1rem;
}

[type="file"]::-webkit-file-upload-button {
	background: var(--primelight);
	border-radius: .5rem;
	border: none;
	outline: none;
	color: var(--lightest);
	cursor: pointer;
	padding: .75rem 1.5rem;
	text-transform: uppercase;
	transition: all 1s ease;
	margin: 1rem;
}


input.date-picker[type="date"],
input.time-picker[type="time"] {
	display: block;
	position: relative;
	background:	white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E") right 1rem center no-repeat;
	cursor: pointer;
    width: 100%;
}
input.time-picker[type="time"] {
	background:	white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 512 512'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z'/%3E%3C/g%3E%3C/svg%3E") right 1rem center no-repeat;
}
input.date-picker[type="date"]:focus,
input.time-picker[type="time"]:focus {
	outline: none;
	border-color: #3acfff;
	box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit {}
::-webkit-datetime-edit-fields-wrapper {}
::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
	background: rgba(0, 120, 250, 0.1);
}
::-webkit-datetime-edit-text {
	opacity: 0;
}
::-webkit-clear-button,
::-webkit-inner-spin-button {
	display: none;
}
::-webkit-calendar-picker-indicator {
	position: absolute;
	width: 3rem;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	cursor: pointer;
	color: rgba(0, 120, 250, 1);
	background: rgba(0, 120, 250, 1);
}
input.date-picker[type="date"]:hover::-webkit-calendar-picker-indicator,
input.time-picker[type="time"]:hover::-webkit-calendar-picker-indicator {
	opacity: 0.05;
}
input.date-picker[type="date"]:hover::-webkit-calendar-picker-indicator:hover,
input.time-picker[type="time"]:hover::-webkit-calendar-picker-indicator:hover {
	opacity: 0.15;
}


/* field validation */
 label:has(input:required):after, 
 label:has(select:required):after,
 label:has(textarea:required):after {
	content: "\2a";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
	left: .5rem;
    top: 0;
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    color: var(--error-color);
    background-color: rgba(255, 0, 0, .1);
    border-radius: 50%;
    text-align: center;
    line-height: 1.25rem;
}
 label:has(input:required:valid):after, 
 label:has(select:required:valid):after,
 label:has(textarea:required:valid):after {
	content: "\f058";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
	left: .5rem;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    color: #080;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    text-align: center;
    line-height: 1.5rem;
}




/* global header & nav */
header.global-header {
	z-index: 100;
	position: fixed;
	overflow: visible;
	top: 0;
	left: 0;
	right: 0;
    padding: 0 6rem;
    background: none;
}
header.global-header.shrink {
    background: var(--lightest);
}
header.global-header nav ul > li > a {
	/* font-family: "Noto Sans", sans-serif; */
    font-weight: 400;
    transition: color .4s;
	text-transform: capitalize;
}
header.global-header.shrink { 
	background: var(--lightest); 
    box-shadow: 0px 4px 9px -6px rgba(0, 0, 0, .2);
}
header.global-header nav > ul > li > a { 
	color: var(--lightest); 
	font-weight: 400;
}
header.global-header nav > ul > li > a:hover { 
	text-decoration: none;
}
header.global-header.shrink nav > ul > li > a { 
	color: var(--darkest); 
	font-weight: normal;
	text-shadow: none;
}
header.global-header h1.logo { 
	display: inline-block;
	background-image: url(../images/logos/nc_horiz_white_full.png);
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -1000px;
	overflow: hidden;
	height: 100%;
	vertical-align: middle;
	background-position: center;
    max-width: 300px;
    width: 30rem;
    margin: 1.5rem 1.5rem 1.5rem 0;
	transition: all 0.3s;
}
header.global-header.shrink h1.logo {
	max-width: 200px;
	width: 20rem;
	background-image: url(../images/logos/nc_horiz_black_full.png);
}
header.global-header h1.logo a { display: block; height: 100%; width: 100%; }
header.global-header nav { 
    display: inline-block;
    vertical-align: middle;
}

header.global-header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
header.global-header nav > ul > li { display: inline-block; position: relative; }
header.global-header nav > ul > li > a { 
	padding: 1rem; 
}
header.global-header.shrink nav > ul > li > a:hover { 
	background: var(--lightest);
	color: var(--navlink-hover);
}
header.global-header nav > ul > li > a.w--current { 
	color: var(--navlink-current); 
	font-weight: 500; 
}
header.global-header nav > ul > li.parent > a:after { 
	display: inline-block;
	padding: 0;
	content: "";
	background-image: url(../images/compass-icon-white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    margin: 0;
    background-position: center;
	transition: all 0.3s;
	transform: rotate(0deg);
    vertical-align: middle;
    margin-left: 1rem;
}
header.global-header.shrink nav > ul > li.parent > a:after { 
	display: inline-block;
	background-image: url(../images/compass-icon.svg);
}
header.global-header nav > ul > li.parent:hover > a:after { 
	transform: rotate(180deg);
}
header nav a {
	vertical-align: top;
    color: var(--darkest);
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
div.mega-menu ul.sub { padding: 0 !important }
header.global-header nav ul > li ul.sub a { 
	padding: .1rem 0;
	display: block;
	margin-bottom: .75rem;
	min-width: 12rem;
	text-decoration: none;
    font-weight: 400;
    transition: color .4s;
    font-family: "Poppins", sans-serif;
	text-transform: capitalize;
}
ul.sub a:hover { color: var(--navlink-hover); text-decoration: none; }
header.global-header nav > ul > li > ul,
header.global-header nav > ul div.mega-menu { 
	display: none; 
	position: absolute; 
	left: 0; 
	top: 100%; 
    min-width: 100%;
    max-width: 750px;
    background-color: var(--lightest);
    border-radius: 1rem;
    padding: 2rem 3rem;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(20, 20, 43, .08);
	margin: 0;
}
header.global-header nav > ul > li:hover > div.mega-menu,
header.global-header nav > ul > li:hover > ul,
header.global-header nav > ul > li a:focus + div.mega-menu,
header.global-header nav > ul > li a:focus + ul { 
	display: block; 
}

div.mega-menu {
	max-width: 80vw;
	width: 70vw;
	padding: 0;
}
div.panels { display: flex; gap: 3rem; }
div.menu-panel { 
	flex: 1;
	padding: 0;
	}
div.mega-menu .footer {
	background: var(--darkest);
	color: var(--lightest);
	margin: .5rem 0 0;
	padding: .5rem 1rem;
	text-align: center;
	border-radius: 0 0 .5rem .5rem;
	display: none;
	}
div.user-options {
	position: absolute;
	top: 0;
	right: 6rem;
    margin: 2.25rem 0 1.5rem 1.5rem;
}
@keyframes mega-grow {
	0% {
		max-height: 0;
		opacity: .5;
	}
	100% {
		max-height: 500px;
		opacity: 1;
	}
}






/* global footer */
main > footer .chunklet {
	text-align: center;
    padding: 6rem 0 1rem;
}
main > footer ul { text-align: left; }

/* footer logo */
footer.global-footer .logo {
	display: block;
    background-image: url(../images/logos/nc_horizontal_black_map.svg);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -1000px;
    overflow: hidden;
    height: 4rem;
    max-width: 300px;
    width: 20rem;
    margin: .25rem;
    background-position: center;
}
footer.global-footer .logo a { 
    display: block; 
    height: 100%; 
    width: 100%; 
}

/* social links */
ul.social { 
	list-style: none; 
	padding: 0;
	margin: 0;
	position: relative;
}
ul.social li { 
	display: inline-block;
    padding: 0;
    margin: 0;
}
ul.social li a { 
    display: inline-block;
    overflow: hidden;
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 .5rem 0 0;
    vertical-align: middle;
    text-align: center;
    color: var(--lightest);
    background: var(--darkest);
    line-height: 1.75rem;
    border-radius: 50%;
    border: 2px solid var(--lightest);
    font-size: 2rem;
    line-height: 3rem;
}
ul.social li a:hover,
ul.social li a:active,
ul.social li a:focus { 
	opacity: 1;
	transform: scale(0.9);
}
ul.social li a span {
	display: inline-block;
	text-indent: -1000px;
	overflow: hidden;
	height: 0;
	width: 0;
}

/* nav links */
footer.global-footer nav { 
	display: block;
    margin: 3rem 0 1rem;
    padding: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
footer.global-footer nav h5 { 
    font-weight: 500;
    font-size: 1.5rem;
}

footer.global-footer nav > ul {
	margin: 0;
	padding: 0 2rem;
	list-style: none;
	display: flex;
	gap: 3rem;
}
footer.global-footer nav > ul ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: inline-block;
}
footer.global-footer nav > ul > li {
	flex: 1;
    padding: 2rem 0;
}
footer.global-footer nav > ul > li.non-linky {
	flex: 2;
}
footer.global-footer nav > ul > li.non-linky > ul {
	display: flex;
    gap: 2rem;
}
footer.global-footer nav > ul > li.non-linky li li { 
    padding: .25rem;
    display: inline-block;	
}
footer.global-footer nav > ul > li.non-linky ul ul {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}
footer.global-footer nav > ul > li.non-linky li li:hover { 
    font-weight: 500;
}
footer.global-footer nav a { color: var(--darkest); }
footer.global-footer nav > ul > li > a {
	font-weight: 500;
	padding-bottom: 1rem;
	display: block;
}
footer.global-footer nav ul ul.submenu li a {
    padding: .5rem 0;
    display: block;
}
footer.global-footer img.logo-map { 
	width: 4rem;
    margin: 6rem auto 5rem; 
}







body > main > section {
	margin: 6rem 0;
	position: relative;
	min-height: 69vh;
}
.chunklet {
	text-align: left;
	max-width: 80%;
	margin: 0 auto;
}
section .chunklet > h3 {
    padding: 2rem 10vw;
    margin: 0rem -10vw;
    font-size: 2.5rem;
    font-family: var(--section-heading-font);
    font-weight: 500;
}





/* home */
section#home_hero {
    height: 100vh;
    margin: 0 0 6rem;
}
section#home_hero div.chunklet {
    position: relative;
    height: 100vh;
    max-width: unset;
}
/* hero background video */
.hero-flick {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: var(--darkest);
	z-index: -1;
	overflow: hidden;
}
.hero-flick video {
	pointer-events: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
div.center-all {
    text-align: center;
    margin: 30vh auto;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
section.hero div.chunklet h2 {
    text-align: center !important;
    font-weight: 500;
    font-family: var(--section-heading-font);
    font-style: normal;
    text-align: left;
    font-size: 8rem;
    margin: 0;
    padding: 0 2rem;
    color: var(--lightest);
    line-height: 90%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
		0px 8px 13px rgba(0,0,0,0.1),
		0px 18px 23px rgba(0,0,0,0.1);
}
span.where-actually span { display: block; }
section#home_hero form {
    z-index: 11;
    width: 50%;
    padding: 0;
    margin: 1rem auto;
}
section#home_hero form legend {
    text-align: center;
    padding: .5rem 0 1rem;
    color: var(--lightest);
    font-size: 1.5rem;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-size: 2.5rem;
}
section#home_hero form input {
    padding: .75rem 10rem .75rem 1.5rem;
}
section#home_hero form button {
    position: absolute;
    right: 1.75rem;
    top: 1rem;
    border-radius: .8rem;
    padding: 1.4rem 2rem;
}
form.videographer-search .result-block { display: none; }
form.videographer-search.result .result-block { 
	display: block;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    color: var(--lightest);
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 0 3rem;
    margin: -1.5rem auto 0;
    width: 92%;
}
form.videographer-search.result .result-block p {
    margin: 0;
	padding: 1rem 5rem;
}
form.videographer-search.error .result-block p { 
	color: var(--error-color-light); 
	font-style: italic; 
}
/* Google autocomplete */
.pac-container {
    background-color: var(--lightest);
    position: absolute !important;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, sans-serif;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
	padding: 0.5rem;
	border-radius: 5px;
}
.pac-container:after { display: none !important; } /* hide logo */
.pac-item {
    cursor: default;
    padding: .5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
    color: #515151;
    font-size: 2rem;
}
.pac-item:last-child { border-bottom: 1px solid #e6e6e6; }
.pac-item * {
    font-size: 2rem;
}
.pac-icon {
    width: 15px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    -webkit-background-size: 34px 34px;
    background-size: 34px;
	display: none;
}

section#portfolio_tickers {}
section#process {}
section#client_types {}
section#testimonials {}
section#industries_served {}
section#cta_section {}

section#videographer_cta { 
    min-height: unset; 
    height: 30rem;
    text-align: center;
}
section#videographer_cta .chunklet {
    margin: 0 auto;
    position: relative;
    height: 100%;
}
section#videographer_cta img {
    position: absolute;
    height: 100%;
    left: -5vw;
}
section#videographer_cta .cta-copy {
    margin: 0 0 0 45rem;
    padding: 5rem 0;
    text-align: left;
}









/* logo & video thumbnail tickers */
.logo-ticker-section-logos-grid,
.video-ticker-section-videos-grid {
	position: relative;
    margin: 2rem -12vw;
}
#video_scroll_1.video-ticker-section-videos-grid {
    margin: 0 -12vw;
    padding: 6px 0 6px;
}
#video_scroll_2.video-ticker-section-videos-grid {
    margin: 0 -12vw;
    padding: 6px 0 6px;
}
.logo-ticker-section-logos-grid[focus-within] .logo-ticker-section-logos-slide,
.video-ticker-section-videos-grid[focus-within] .video-ticker-section-videos-slide,
.logo-ticker-section-logos-grid:focus-within .logo-ticker-section-logos-slide,
.video-ticker-section-videos-grid:focus-within .video-ticker-section-videos-slide {
	animation: none;
}
.logo-ticker-section-logos-grid[focus-within] .logo-ticker-section-logos-container:hover .logo-ticker-section-logos-slide-container,
.video-ticker-section-videos-grid[focus-within] .video-ticker-section-videos-container:hover .video-ticker-section-videos-slide-container,
.logo-ticker-section-logos-grid:focus-within .logo-ticker-section-logos-container:hover .logo-ticker-section-logos-slide-container,
.video-ticker-section-videos-grid:focus-within .video-ticker-section-videos-container:hover .video-ticker-section-videos-slide-container {
	transform: translate(0);
}
.logo-ticker-section-logos-container,
.video-ticker-section-videos-container {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}
.logo-ticker-section-logos-container:hover .logo-ticker-section-logos-slide-container,
.video-ticker-section-videos-container:hover .video-ticker-section-videos-slide-container {
	transform: translate(-2%);
}
.logo-ticker-section-logos-container:hover .logo-ticker-section-logos-slide,
.video-ticker-section-videos-container:hover .video-ticker-section-videos-slide {
	animation-play-state: paused;
}
.logo-ticker-section-logos-slide-container,
.video-ticker-section-videos-slide-container {
	display: inline-block;
	transform: translate(0);
	transition: 1s ease-out;
	opacity: 1;
}
.logo-ticker-section-logos-slide,
.video-ticker-section-videos-slide {
	display: inline-block;
	animation: 30s ticker infinite linear;
	animation-delay: .2s;
}
.video-ticker-section-videos-slide {
	animation: 45s ticker infinite linear;
	animation-delay: .2s;
}
.logo-ticker-section-image-container,
.video-ticker-section-image-container {
	display: inline-block;
    margin: 0 3rem;
}
.video-ticker-section-image-container { margin: 0 6px; }
.logo-ticker-section-image-frame,
.video-ticker-section-image-frame {
	display: inline-block;
	max-width: 11rem;
	outline-style: none;
}
.video-ticker-section-image-frame {
	max-width: 28vw;
	position: relative;
	cursor: pointer;
}
.video-ticker-section-image-frame:before {
	display: block;
    height: 3.25rem;
    width: 3.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f144";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 4rem;
    margin: -1.5rem 0 0 -1.5rem;
    color: var(--lightest);
    border-radius: 50%;
    line-height: 3.25rem;
    text-align: center;
	z-index: 10;
	opacity: 1;
	cursor: pointer;
}
.logo-ticker-section-image-frame img,
.video-ticker-section-image-frame img {
    max-width: 11rem;
    transform: none;
    transition: transform .5s;
    max-height: 6rem;
}
.video-ticker-section-image-frame img {
    max-width: 28vw;
    max-height: 15rem;
	border-radius: 1rem;
	border: 1px solid transparent;
	opacity: .9;
}
.video-ticker-section-image-frame:hover img {
	opacity: 1;
}
/*
@keyframes ticker {
	0% { transform: translate(0); }
	to { transform: translate(-100%); }
}
*/