
@media only screen and ( max-width: 400px ) {}

@media only screen and (max-width: 480px) {


	.mobile .split-panel,
	.mobile .col_2-1-1,
	.mobile .col_2-2-1,
	.mobile .col_2-1-2,
	.mobile .col_3-1-1-1,
	.mobile .col_4-2-1-1,
	.mobile .col-3-wrap { display: unset; }
	.mobile .col-3-wrap > * { width: unset; }
	.split-half {
		padding: 1rem;
	}

	.styleguide section.full-centered-chunk, .styleguide section.businesses-content, .styleguide section.videographers-content {
		overflow: hidden;
	}
	.styleguide > header:before, .styleguide .chunklet:before {
		left: 4vw;
	}
	.styleguide > header:after, .styleguide .chunklet:after {
		right: 4vw;
	}
	.styleguide pre {
		white-space: pre-wrap;
	}

	/* GENERAL */
	.button-primary {
		padding: .75rem 1rem;
	}
	section .chunklet {
		/* min-height: 100vh !important; */
    }
	section .chunklet h3 {
        font-size: 1.5rem !important;
        padding: 2rem 1rem !important;
		line-height: 1.5rem !important;
		margin: 0 !important;
    }


	/* HEADER & NAV */
	body > header.global-header {
		padding: .5rem;
	}
	header.global-header h1.logo,
	.mobile header.global-header.shrink h1.logo {
		margin: .5rem 1rem;
		max-width: 269px;
		width: 13rem;
	}
	header.global-header div.user-options {
        top: 0;
        right: 0;
        width: 69px;
    }
	/* header .user-options .cta-link {
		display: none;
	} */
	.royals-w-cheese .logo-map {
        margin: 1rem 0 0 .5rem !important;
		width: 45px !important;
		height: 45px !important;
	}

	body.nav-open { overflow: hidden; }
	body.nav-open header.global-header .nav-menu-wrapper {
        max-height: 69vh;
        /* min-height: 42vh; */
		padding: 1rem 3rem 3rem;
        top: 4.75rem;
        margin: 0;
    }
    body.nav-open header.global-header.shrink .nav-menu-wrapper {
        padding: 2rem 3rem 3rem;
        height: auto;
        top: 4.75rem;
    }


	/* HERO */
	div.center-all {
		margin: 33vh auto;
        padding: 0 1rem;
	}
	section.hero div.chunklet h2 { font-size: 2.25rem; }
	section#home_hero form.videographer-search {
		width: 90%;
	}
	form.videographer-search button.search-submit { width: 2.7rem; }
	form.videographer-search button.search-submit span { display: none; }
	#audience_buttons button {
		padding: .75rem 1rem;
		min-width: 10rem;
	}
	form.videographer-search .result-block p {
		font-size: 1rem;
		line-height: 1.2rem;
	}
	form.videographer-search.result .result-block p {
		margin: 0;
		padding: 1rem;
		font-size: 1rem;
		line-height: 1.25rem;
	}


	/* MARQUEES */
	section#portfolio_tickers .chunklet h3 {
		font-size: 1.25rem !important;
	}
	#lvideo-wrap.mini, #lvideo-wrap.mini:after, #lvideo-wrap.mini .lvideo-overlay {
		width: 100% !important;
	}
	.video-ticker-section-videos-slide {
		animation: 35s ticker infinite linear;
	}
	#lvideo-wrap.mini, #lvideo-wrap.mini:after, #lvideo-wrap.mini .lvideo-overlay,
	#lvideo-wrap.mini video, #lvideo-wrap.mini iframe {
		border-radius: unset;
	}


	/* PROCESS */
	
	#process .scrolljacker aside.left-jack {
		flex: unset;
		width: unset;
		padding: unset;
		z-index: 10;
        position: relative;
	}
    #process .scrolljacker aside.right-jack {
        width: 100%;
        position: absolute !important;
        top: -13rem;
        left: 0;
        right: 0 !important;
        z-index: 9 !important;
    }
	#process .process-tile-list-stepped li.tile,
	#process .process-tile-list-stepped li.tile:last-child {
        margin: 13rem 0 0;
        padding: 0 1rem 0;
        height: 20rem;
	}
	#process .process-tile-list-stepped li.tile h2 {
		margin: 0;
		font-size: 1.5rem;
		line-height: 1.5rem;
		text-indent: 2rem;
	}
	#process .process-tile-list-stepped > li h2:before {
		font-size: .75rem;
		height: 1.5rem;
		width: 1.5rem;
		line-height: 1.5rem;
		left: 1rem;
		margin: 0;
		text-indent: 0;
	}
	#process .scrolljacker .jack-spacer,
	#process .scrolljacker .jack-spacer:last-child {
		display: block !important;
        text-align: center;
        height: 33rem !important;
	}
    #process .scrolljacker img.process-preview {
        width: 90%;
        max-width: unset;
        margin-top: unset;
        margin: 0 auto;
        visibility: visible !important;
        z-index: 9;
        opacity: 1 !important;
        /* transition: all 2s; */
        position: relative !important;
    }
	#process .chunklet.fixed h3 {
		position: fixed;
		top: 4.5rem;
		background: var(--lightest);
		width: 100%;
		left: 0;
		z-index: 11;
		height: unset;
        padding: 2rem !important;
	}
	#process .chunklet.fixed h3:after {
		content: "";
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
		top: 99%;
		display: block;
		height: 1rem;
		position: absolute;
		width: 100%;
	}
	#process .chunklet.fixed .title-spacer {
		display: block;
		height: 6rem;
		/* background: orange; */
	}
	
	.mobile #process .split-panel {
		display: block;
	}

	#process .scrolljacker .jack-spacer {
		height: 0rem;
	}
	#process .scrolljacker img.process-preview {
		width: 90%;
        margin-top: 0;
        margin-left: 0;
	} 


	/* INDUSTRIES */
	div.featured-industries {
		display: unset;
	}
	ul.industry-list {
		padding: 0;
        text-align: center;
	}
	ul.industry-list li {
		padding: .25rem .5rem .25rem 3.25rem;
		margin: .2rem;
	}
	div.featured-industries .card-panel .card {
		padding: 0 1rem 1rem;
	}


	/* BIZ CTA */
    section#cta_section {
		min-height: unset;
    }
	#cta_section .chunklet {
		padding: 0;
		min-height: unset;
	}
	#cta_section .chunklet #cta_wrap {
		padding: 9rem 2rem 1rem;
		background: unset;
	}
	#cta_section label span {
		font-size: 1rem;
	}
	#cta_section .chunklet label {
		margin: 0 -1rem .5rem;
        padding: 0 1rem;
	}


	/* CLIENT TYPES */
	#client_types .split-half:first-child {
		flex: unset;
		padding: 0 1rem;
	}
	#client_types .split-half:last-child { display: none; }
	ul.tile-list li.tile { 
		width: auto; 
		min-height: unset;
        padding: 0 1rem 2rem;
	}
	ul.tile-list li.tile div {
		padding: 0;
	}
	ul.tile-list li.tile h4 {
		font-size: 1.5rem;
		margin: 0;
	}


	/* TESTIMONIALS */
	section#testimonials .chunklet {
        max-width: 96%;
    }
	.featured-testimonials {
		height: 440px;
	}
	.slideshow-blob {
		height: 100%;
	}
	.slideshow-blob li {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 0;
		width: 100%;
	}
	.testimonial-list-redux > li > .image-frame {
		width: 100%;
		flex: unset; 
		position: unset; 
		height: unset;
		overflow: hidden;
	}
	.testimonial-list-redux li .image-frame img {
		width: 100%;
		height: unset;
	}
	.testimonial-list-redux li .image-frame:before {
		top: 20%;
		left: 48%;
	}
	.testimonial-list-redux li .image-frame:after {
		display: none;
	}
	.testimonial-list-redux > li > .card {
		width: 100%;
		flex: unset; 
		margin-left: 0; 
		padding: 1rem 2rem;
		position: relative;
		min-height: unset;
	}
	.testimonial-list-redux li .card img {
		height: 2rem;
	}
	.testimonial-list-redux > li > .card blockquote {
		margin: 0;
		padding: 1rem 0;
		font-size: .9rem;
		line-height: 1rem;
	}


	/* VID CTA */
	section#videographer_cta .chunklet, section#blog_cta .chunklet {
		min-height: 24rem;
		position: relative;
	}
	section#videographer_cta .chunklet img.background, section#blog_cta .chunklet img.background {
		position: absolute !important;
		right: 0rem;
		bottom: 0rem;
		height: 13rem;
		top: unset;
	}
	div.cta-copy {
		padding: 0;
		width: auto;
	}
	div.cta-copy h3 {
		padding: 0 0 1rem !important;
	}
	section#videographer_cta .chunklet a {
		position: unset;
	}



	form label {
		margin-bottom: .5rem;
	}
	form#booking span.booking-summary {
		padding: 1rem 1rem;
		display: block;
		background: var(--offlight);
		margin: 0 0 1rem;
		border-radius: .5rem;
	}
	form#booking span.booking-summary dl, form#booking span.booking-summary dt {
		padding: 0;
	}
	form#booking span.booking-summary dd {
		line-height: 1.25rem;
	}
	.booking-summary dd span {
		display: block;
		width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
	}

}

/* tablets */
@media screen and (max-width: 991px) {

	header .user-options .cta-link {
		display: none;
	}
	header.global-header h1.logo {
		background-image: url(../images/logos/nc_horiz_white.png);
	}
	header.global-header.shrink h1.logo {
		background-image: url(../images/logos/nc_horiz_black.png);
	}
	header.global-header.shrink .royals-w-cheese .logo-map {
		background-image: url(../images/logos/nc_map.svg);
	}

	/* mobile menu */
	.royals-w-cheese {
		display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
        vertical-align: middle;
	}
	.royals-w-cheese .logo-map {
		width: 50px;
		height: 50px;
		cursor: pointer;
		margin: 1rem;
		background-image: url(../images/logos/nc_map_white.svg);
		background-size: contain;
		background-repeat: no-repeat;
		overflow: hidden;
		background-position: center;
		position: relative;
		transition: .5s ease-in-out;
		transform: rotate3d(0, 1, 0, 0deg);
	}
	.royals-w-cheese .logo-map:hover,
	.royals-w-cheese .logo-map:focus { transform: rotate3d(0, 1, 0, 360deg); }
	.nav-open .royals-w-cheese .logo-map { transform: rotate3d(0, 1, 0, 0deg); }
	.nav-open .royals-w-cheese .logo-map:focus { transform: rotate3d(0, 1, 0, 360deg); }

	header.global-header .cta-link { margin-right: 8rem; display: none; }

    header.global-header .nav-menu-wrapper {
		background-color: rgba(0, 0, 0, .9);
        right: 100vw;
        padding: 1rem 3rem 3rem;
        height: auto;
        top: 4.25rem;
        overflow: auto;
        position: fixed;
        width: 100vw;
        z-index: 1000;
        transition: right .5s ease-in-out;
    }
	body.nav-open header.global-header .nav-menu-wrapper { right: 0; }
	header.global-header nav > ul > li > div.mega-menu, 
	header.global-header nav > ul > li > ul {
		color: var(--lightest);
		position: relative;
		left: unset;
		top: unset;
		min-width: unset;
		max-height: unset;
		opacity: unset;
		max-width: unset;
		width: unset;
		padding: 0;
		border-radius: unset;
		border: unset;
		background: unset;
		margin: unset;
	}
	header.global-header nav div.menu-panel {
		flex: unset;
		padding: 0 1rem 1rem;
	}
	header.global-header nav div.menu-panel h4 { margin: 1rem 0 0; }
	header.global-header nav > ul > li {
		display: block;
	}

	header.global-header nav > ul > li > a,
	header.global-header.shrink nav > ul > li > a { 
		padding: 1rem 0 0; 
        display: block;
        /* border-bottom: 1px solid rgba(255, 255, 255, .5); */
		color: var(--lightest);
        font-size: 1.5rem;
	}
	header.global-header nav > ul > li > a:after { background-image: url(../images/compass-icon-white.svg); }
	header.global-header nav div.panels {
		display: block;
	}
	header.global-header nav a {
		color: var(--lightest);
	}
	a.w-nav-link:hover,
	.shrink a.w-nav-link:hover {
		background: unset;
	}
	ul.sub a:hover {
		color: unset;
		text-decoration: underline;
	}
	div.mega-menu ul.sub,
	header.global-header nav ul.sub {
		padding: 0 1rem !important;
		/* display: unset; */
        gap: 0 2rem;
        flex-wrap: wrap;
        margin: 1rem 0 0;
	}	
	header.global-header nav ul.sub a {
		padding: .1rem 0 0 1rem;
		display: inline-block;
		
    	margin-bottom: 0 !important;
    	/* border-left: 1px solid; */
	}
	header.global-header div.mega-menu .footer {
		display: none;
	}


	section.hero div.chunklet h2 { white-space: unset; top: 38%; }

	section .chunklet { max-width: 92%; }
	section .chunklet h3 { font-size: 2rem; padding: 1rem 12vw; }

	/* styles by section */
	section#home_hero {}
	section#portfolio_tickers {}
	section#process {}
	section#client_types {}
	section#testimonials {}
	section#industries_served {}
	section#cta_section {}
	section#videographer_cta {}

	section#portfolio_tickers .logo-ticker-section-image-frame img { max-height: 3rem; }
	section#portfolio_tickers .video-ticker-section-image-frame,
	section#portfolio_tickers .video-ticker-section-image-frame img { max-width: 69vw; }

	section#industries_served .industry-list li { min-width: unset; }


	#lvideo-wrap.mini, #lvideo-wrap.mini:after, #lvideo-wrap.mini .lvideo-overlay {
		width: 69%;
	}

	/* FOOTER */
	footer.global-footer .logo {
		width: 15rem;
	}
	footer.global-footer nav > ul {
		flex-wrap: wrap;
		gap: 0 1rem;
	}
	footer.global-footer nav > ul li { flex: auto; }

	/* BOOKING */
	body.booking > main aside.split-half:first-child {
		display: none;
	}
	body.booking > main aside.split-half {
		padding: 6rem 4vw 10rem;
	}


}

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
	header.global-header nav * {
		margin: 0;
		padding: 0;
		width: auto;
		display: block;
	}
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1400px) { 
	html { font-size: 120%; }
}